.overlay {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0.3;

  @media (min-width: 768px) {
  }
}

.openButton,
.closeButton {
  position: absolute;
  top: 0.67rem;
  display: inline-block;
  z-index: 10000;
  @media (min-width: 768px) {
    top: 1rem;
  }
}
.closeButton[data-side='right'] {
  right: 0.35rem;
  @media (min-width: 768px) {
    right: 0.5rem;
  }
}
.closeButton[data-side='left'] {
  left: 0.35rem;
  @media (min-width: 768px) {
    left: 0.5rem;
  }
}
.openButton {
  z-index: 1;
}
