.container {
  height: 100%;
}
.fullHeight {
  position: relative;
  max-height: 99svh;
  overflow-x: hidden;
  @media (min-width: 1025px) {
    width: calc(100% + 6px);
  }
}
.wFull {
  width: 100vw;
}
.systemPrompt {
  position: relative;
  padding: 22px 2rem 5px 3.25rem;
  line-height: 14px;
  margin: 0;
  font-size: 12px;
  color: black;
  text-shadow: 0 0 33px rgba(245, 245, 255, 0.22);
}
