.navBarContainer {
  position: relative;
  @media (max-width: 1024px) {
    display: none;
  }
}
.navBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-right: 1.1rem;
  align-items: center;
}
.navBar > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.settingsPane {
  position: absolute;
  z-index: 1000;
  padding: 15px 30px 30px;
  border-radius: 8px;
  width: 100%;
  background: #333541;
  box-shadow: 0px 10px 20px 10px #444654;
}

.plus {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
}
